.DS_store
aclightgen
# testprogs
.vscode
_build
.merlin
CONFIGURE

# Object files, in general
*.vo
*.vos
*.vok
*.glob
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
.*.aux
*.cmti
*.cmt
# Emacs saves
*~
# Coq caches
.lia.cache
.nia.cache
.nra.cache
.csdp.cache
*.exe
.depend*
/_CoqProject
/Makefile.config
/compcert.ini
/frontend/STAMP
/cprogs/*/program.v
/cprogs/*/annotation.v
/cprogs/*/Makefile.config
/cprogs/*/*/path[0-9].v
/cprogs/*/*/path[0-9][0-9].v
/cprogs/*/*/ret_path[0-9].v
/cprogs/*/*/ret_path[0-9][0-9].v
/cprogs/*.pc