.DS_store
aclightgen

# Object files, in general
*.vo
*.glob
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
.*.aux
*.cmti
*.cmt
# Emacs saves
*~
# Coq caches
.lia.cache
.nia.cache
.nra.cache
.csdp.cache
*.exe
.depend*
/_CoqProject
/Makefile.config
/compcert.ini
/frontend/STAMP
